.footer {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 1;
}
.socialIcons {
  display: flex;
  justify-content: center;
  width: 65%;
}
.socialIcons > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.socialIcons > a > object {
  height: 100px;
  width: 100px;
}
.copyright {
  position: relative;
  font-family: var(--header-font);
  color: white;
  display: flex;

  padding-bottom: 20px;
}
.copyright span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
.copyright span object {
  width: 80px;
  height: 80px;
}

.background {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 10vh;
}
