@import "variables.css";
@font-face {
  font-family: "Avenir-bold";
  src: url("/fonts/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: "Avenir-light";
  src: url("/fonts/AvenirNextLTPro-Regular.otf");
}
:root {
  --main-bg-color: brown;
  --secondary-bg-color: blue;
  --header-text: green;
  --coming-button-color: linear-gradient(
    0deg,
    rgba(13, 20, 41, 1) 0%,
    rgba(16, 28, 41, 1) 100%
  );
  --header-font-weight: 900;
  --button-font-weight: 500;
  --base-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  --base-text-shadow: 0 0 8px #ffffff;
  --menu-font-weight: 100;
  --text-font-size: 18px;
  --text-font-weight: 100;
  --text-font-size: 1rem;
  --base-br-radius: 15px;
  --header-font: "Avenir-bold";
  --menu-font: "Avenir-light";
  --text-font: "Helvetica", "Arial", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

.active {
  display: flex;
}
.notActive {
  display: none !important;
}

html,
body {
  overflow-x: hidden;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.contentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 5vh;
  width: 100vw;
  border-radius: 0;
  padding-top: 10vh;
}

.main-menu {
  width: 100%;
}
.list-wrapper {
  position: relative;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 4px 0;
  box-shadow: var(--base-box-shadow);
  height: 38px;
  border-radius: var(--base-br-radius);
}
.header-logo-wrapper {
  min-width: 200px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 10;
}
.list {
  width: 100%;
  display: flex;
  padding: 0 5px;
  justify-content: space-between;
}
.sub-list {
  border-radius: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.list-items {
  height: 30px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #fff;
  box-shadow: var(--base-box-shadow);
  border-radius: var(--base-br-radius);
}
.sub-list-items {
  height: 30px;
  display: flex;
  justify-content: center;
  background-color: blue;
}
.sub-list-items a {
  padding: 4px 5px;
  font-family: var(--menu-font);
  border-radius: inherit;
}

.dark.list {
  background: linear-gradient(
    112deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(39, 38, 38, 1) 38%,
    rgba(0, 0, 0, 1) 100%
  );
}

.arrow-icon {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.3984944319524685) 100%
  );
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 4px;
}

/*Menu item background colors*/
.active {
  order: -1;
}
.home ul li {
  background: rgb(76, 61, 134);
  background: linear-gradient(
    45deg,
    rgba(29, 30, 67, 1) 0%,
    rgba(76, 61, 134, 1) 100%
  );
}
.app ul li {
  background: rgb(153, 37, 90);
  background: linear-gradient(
    45deg,
    rgba(153, 37, 90, 1) 0%,
    rgba(173, 63, 35, 1) 100%
  );
}
.goodgrades ul li {
  background: rgb(33, 94, 125);
  background: linear-gradient(
    90deg,
    rgba(33, 94, 125, 1) 0%,
    rgba(37, 64, 123, 1) 100%
  );
}
.social-club ul li {
  background: rgb(40, 165, 159);
  background: linear-gradient(
    90deg,
    rgba(40, 165, 159, 1) 0%,
    rgba(17, 114, 97, 1) 100%
  );
}
.list-items:hover {
  height: auto;
}
@media screen and (min-width: 746px) {
  .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header-logo-wrapper {
    transform: none;
    position: relative;
    left: 0;
  }
  .current {
    order: -1;
  }
  .list-wrapper {
    left: 0;
    transform: none;
    width: 70%;
  }
  .list {
    justify-content: end;
  }
  .current {
    order: -1;
    justify-self: start;
  }
  .contentWrapper {
    width: 90vw;
    height: 80vh;
    margin: 10vh 5vw 10vh 5vw;
    border-radius: 15px;
    justify-content: space-between;
  }
}
