@import "variables.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.active {
  display: flex;
}
.notActive {
  display: none !important;
}

html,
body {
  overflow-x: hidden;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.main-menu {
  width: 100%;
}
.list-wrapper {
  position: absolute;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 4px 0;
  box-shadow: var(--base-box-shadow);
  height: 38px;
  border-radius: var(--base-br-radius);
}
.header-logo-wrapper {
  max-width: 200px;
  margin: 0 auto;
}
.list {
  width: 100%;
  display: flex;
}
.sub-list {
  border-radius: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.list-items {
  height: 30px;
  overflow-y: hidden;
  margin: 0 5px;
  background-color: #fff;
  box-shadow: var(--base-box-shadow);
  border-radius: var(--base-br-radius);
}
.sub-list-items {
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: inherit;
  background-color: blue;
}
.sub-list-items a {
  padding: 4px 5px;
  font-family: var(--menu-font);
}

.dark.list {
  background: linear-gradient(
    112deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(39, 38, 38, 1) 38%,
    rgba(0, 0, 0, 1) 100%
  );
}

.arrow-icon {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.3984944319524685) 100%
  );
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 4px;
}

/*Menu item background colors*/
.active {
  order: -1;
}
.home .active {
  background: rgb(76, 61, 134);
  background: linear-gradient(
    45deg,
    rgba(29, 30, 67, 1) 0%,
    rgba(76, 61, 134, 1) 100%
  );
}
.app .active {
  background: rgb(153, 37, 90);
  background: linear-gradient(
    45deg,
    rgba(153, 37, 90, 1) 0%,
    rgba(173, 63, 35, 1) 100%
  );
}
.goodgrades .active {
  background: rgb(33, 94, 125);
  background: linear-gradient(
    90deg,
    rgba(33, 94, 125, 1) 0%,
    rgba(37, 64, 123, 1) 100%
  );
}
.social-club .active {
  background: rgb(40, 165, 159);
  background: linear-gradient(
    90deg,
    rgba(40, 165, 159, 1) 0%,
    rgba(17, 114, 97, 1) 100%
  );
}
.list-items:hover {
  height: auto;
}
@media screen and (min-width: 746px) {
}
