.title {
  font-family: var(--header-font);
  font-size: 2rem;
}
.subTitle,
.button {
  font-family: var(--menu-font);
  font-weight: 100;
  line-height: 1.4;
  font-size: 1rem;
  color: #6c7598;
}
.button {
  padding: 2px 4px;
  background-color: white;
  border-radius: 50px;
}
.ourCommunity {
  font-family: var(--header-font);
  color: #566588;
  font-size: 0.8rem;
  position: relative;
  margin-left: 60px;
}
.ourCommunity::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background: #a4587a;
  top: 50%;
  left: -60px;
}
.textContainer {
  padding: 10px 5px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(3, 54, 76, 0.06) 100%
  );
  background-opacity: 0.06;
  grid-area: text;
}
.main {
  display: flex;
  flex-direction: column;
}
.contentWrapper {
  background-image: url(/icons/wrapperbg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var(--base-br-radius);
  -webkit-background-origin: border;
}
@media only screen and (min-width: 746px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 60% 1fr;
    grid-template-areas:
      "nav nav"
      "text video"
      "text video";
    justify-content: center;
  }
  .title {
    font-size: 5rem;
  }
  .textContainer {
    background: none;
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .button {
    background: rgb(160, 188, 212);
    background: linear-gradient(
      150deg,
      rgba(160, 188, 212, 1) 0%,
      rgba(40, 63, 108, 1) 100%
    );
    padding: 8px 30px;
    text-align: center;
    color: white;
    max-width: 150px;
    position: relative;
    top: 20px;
  }
}

.__next {
  overflow: hidden;
}
