.container {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  z-index: 1;
  top: 0;
  height: 100vh;
  animation-delay: 1.2s;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(5, 15, 28, 1) 60%,
    rgba(10, 9, 54, 1) 100%
  );
  width: 100vw;
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.stars {
  position: absolute;
  bottom: 0;
  right: 0;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 30%;
  height: 50%;
  font-size: 20px;
}

.menuIcon {
  background-image: url(/icons/menu-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999999999999999999;
  margin: 35px 10px 0 0;
}
.menuItem {
  padding: 15px 30px;
  border-radius: 100px;
  font-family: var(--menu-font);
  background: white;
  filter: drop-shadow(0 0 18px #00a4ff);
  box-shadow: 0 0 -18px #004cff;
  color: #112e50;
}

.hidden {
  display: none !important;
}
